.login-container {
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;


    .btn-login{
        background: #59326e;
    }

    .bg-login-card{
        background: #fdb857;

    }
}

